---
layout: sector
title: DEPEX
worker: ['Vitor Marchi']
contact: ['vmarchi@utfpr.edu.br',]
picture: []
---

<link rel="stylesheet" type="text/css" href="/assets/css/depex.css">

<script type="text/javascript" async>
  window.onload = (event) => {
    bindModals(['modal-bolsista', 'modal-voluntario', 'modal-extensao'])
  }
</script>

{% include depex_modals.html %}

<div class="columns">
  <div class="column">
    <p class="title-large title-computer">DEPEX - Departamento de Extensão</p>
    <div class="has-text-centered title-mobile">
      <p class="title-large">DEPEX</p>
    </div>

    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent">
            <div id="modal-voluntario" class="tile is-child notification rainbow-black is-link">
              <div class="content">
                <p class="title">Aluno voluntário</p>
                <p>Instruções para alunos que desejam ser voluntários em projetos.</p>
              </div>
            </div>
          </div>
          <div class="tile is-parent">
            <div id="modal-bolsista" class="tile is-child notification rainbow-black is-link">
              <div class="content">
                <p class="title">Aluno bolsista</p>
                <p>Instruções para alunos que desejam ser bolsistas em projetos.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div id="modal-extensao" class="tile is-child notification rainbow-black is-link">
            <div class="content">
              <p class="title">Sociedade, fale conosco!</p>
              <p>Demandas e ofertas de ações de extensão para sociedade.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="text">
      Segundo o Fórum Nacional de Pró-Reitores de Extensão das Universidades Públicas Brasileiras (1987), a extensão universitária é definida como “um processo educativo, cultural e científico que se articula ao ensino e a pesquisa de forma indissociável e viabiliza a relação transformadora entre a Universidade e a Sociedade”.
    </p>

    <p class="text">
      O Departamento de Extensão, que faz parte da Diretoria de Relações Empresariais e Comunitárias, é o órgão responsável por monitorar e assessorar as ações de extensão dentro da Câmpus da UTFPR, de forma a:
    </p>

    <div class="content">
      <ul>
        <li>Aplicar a normatização das ações e políticas de extensão, viabilizando sua execução;</li>
        <li>Orientar, sugerir e direcionar as ações de extensão, visando a otimização dos resultados;</li>
        <li>Supervisionar, coordenar, acompanhar e avaliar as ações de extensão;</li>
        <li>Prospectar mecanismos de fomento visando incremento das atividades de extensão;</li>
        <li>Incentivar e apoiar a participação na submissão de projetos para editais de órgãos de fomento às ações de extensão universitária;</li>
        <li>Registrar as ações, proporcionando uma visibilidade da atuação extensionista da UTFPR;</li>
        <li>Divulgar as ações, concretizando o compromisso social da UTFPR.</li>
      </ul>

      <p>O Departamento de Extensão é composto por quatro núcleos, que atendem áreas temáticas específicas:</p>

      <ul>
        <li>Núcleo de Saúde e Meio Ambiente;</li>
        <li>Núcleo de Cultura e Comunicação;</li>
        <li>Núcleo de Educação e Direitos Humanos;</li>
        <li>Núcleo de Trabalho, Tecnologia e Produção.</li>
      </ul>
    </div>

    <div class="columns">
      <div class="column depex-posts">
        <div class="depex-posts-header">
          <p class="title-large has-border-bottom">Projetos de Extensão</p>
        </div>
        <div class="depex-posts-content">
          <ul style="height: 700px;" data-simplebar data-simplebar-auto-hide="false">
            {% for element in site.posts %}
            {% if element.tag != "evento" %}
            <li>
              <div class="">
                <article class="media" style="padding: 15px;">
                  <div class="media-left">
                    <figure class="image is-96x96">
                      <img src="{{ element.picture }}" alt="Foto do professor" class="post-picture">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <div class="columns">
                        <div class="column">
                          <strong class="post-title">{{ element.title }}</strong>
                        </div>
                        <div class="column">
                          {% if element.status == 'Concluído' or element.status == 'concluído' %}
                          <span class="tag is-success is-pulled-right" id="post-tag">Projeto {{ element.status | downcase }}</span>
                          {% else %}
                          <div class="is-pulled-right field is-grouped" title="Vigente até">
                            <div class="tags has-addons" id="post-tag">
                              <span class="tag is-info">Projeto {{ element.status | downcase }}</span>
                              <span class="tag is-dark">{{element.data-inicio}} - {{ element.data-fim }}</span>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                      </div>
                      <span class="has-text-grey-lighter post-resume-title">Resumo do projeto</span>
                      <p class="has-text-justified post-resume">{{ element.snippet }}</p>
                    </div>
                    <nav class="navbar is-mobile">
                      <div class="level-right">
                        <a href="{{ element.url }}" title="{{ element.title }}" class="button is-info">
                          VISUALIZAR PROJETO
                        </a>
                      </div>
                    </nav>
                  </div>
                </article>
              </div>
            </li>
            <br>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- <div class="column">
        <p class="title-medium">Filtros</p><br>


      </div> -->
    </div>
  </div>
</div>
