<div class="modal" id="mpa1">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">Informações do cadastro</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">Sim, pois estas informações são necessárias para a elaboração do Plano de Estágio e do Termo de Compromisso de Estágio, documentos jurídicos indispensáveis para a realização do estágio.</p>
    </section>

    <footer class="modal-card-foot">
      
    </footer>
  </div>
</div>

<div class="modal" id="mpa2">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">O que é um Agente Integrador?</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">É a instituição que age intermediando o estágio entre as partes concedentes de estágio e as instituições de ensino. Cabem a esses agentes identificar oportunidades de estágio; ajustar suas condições de realização; fazer o acompanhamento administrativo; encaminhar negociação de seguros contra acidentes pessoais e cadastrar os estudantes.</p>
    </section>

    <footer class="modal-card-foot">
      
    </footer>
  </div>
</div>

<div class="modal" id="mpa3">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">Como posso conseguir uma vaga de estágio?</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">As empresas podem divulgar suas vagas nos murais da própria UTFPR, no próprio SIE, no campo “Oferta de Vagas”, e por fim, pode contratar um agente integrador que auxiliará não apenas na divulgação, mas também na seleção. Também é possível que o aluno consiga uma vaga através de contato direto com a empresa.</p>
    </section>

    <footer class="modal-card-foot">
      
    </footer>
  </div>
</div>

<div class="modal" id="mpa4">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">Estou matriculado no 2º período letivo, posso fazer estágio?</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">Sim, estar no 2º período é o requisito mínimo para estagiar, devendo, no entanto, apresentar ao DEPEC, a Declaração de Matrícula impressa ou digital obtida no próprio Portal do Aluno, para a liberação do cadastro no SIE.</p>
    </section>

    <footer class="modal-card-foot">
      
    </footer>
  </div>
</div>

<div class="modal" id="mpa5">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">Quantas horas de estágio posso fazer por semana?</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">A carga horária limite é de 30h semanais e no máximo 6h diárias. O horário de estágio não poderá coincidir com os horários das aulas em que estiver matriculado.</p>
    </section>

    <footer class="modal-card-foot">
      
    </footer>
  </div>
</div>

<div class="modal" id="mpa6">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">Posso fazer estágio em qualquer período do dia?</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">Sim, desde que o horário não conflite com as disciplinas em que estiver matriculado.</p>
    </section>

    <footer class="modal-card-foot">
      
    </footer>
  </div>
</div>

<div class="modal" id="mpa7">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">O que devo fazer para rescindir Termo de Compromisso de Estágio?</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">Avise a empresa que emitirá através do SIE, 3 vias da rescisão, que devem ser encaminhadas ao Departamento de Estágios.</p>
    </section>

    <footer class="modal-card-foot">
      
    </footer>
  </div>
</div>

<div class="modal" id="mpa8">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">Aonde devo levar meus Relatórios Parciais de Estágio?</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">Semestralmente é necessário o preenchimento de relatórios parciais de estágio por parte do Orientador, Supervisor e Aluno, estes documentos devem ser entregues para o professor Orientador para que o mesmo tome as devidas providências.</p>
    </section> 

    <footer class="modal-card-foot">
      
    </footer>
  </div>
</div>

<div class="modal" id="mpa9">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">O que é o PRAE?</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">O PRAE é o Professor Responsável pelas Atividades de Estágio, e suas atribuições são definidas no Art. 30 do Regulamento do Estágio Curricular Supervisionado dos Cursos de Licenciatura da UTFPR, e no Art. 34 do Regulamento dos Estágios Curriculares Supervisionados dos Cursos de Educação Profissional Técnica de Nível Médio, dos Cursos Superiores de Tecnologia e dos Cursos de Bacharelado da UTFPR. Para o curso de Licenciatura em Ciências Biológicas, o PRAE atual é a professora Eduarda Maria Schneider, e para o curso de Ciência da Computação é a professora  Kelyn  Schenatto.</p>
    </section>

    <footer class="modal-card-foot">
      
    </footer>
  </div>
</div>

<div class="modal" id="mpa10">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">Onde posso conseguir mais informações?</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">Há diversos canais, o aluno pode requisitar informações diretamente no DEPEC, pessoalmente, por telefone (45) 3268-8823 ou por e-mail depec-sh@utfpr.edu.br, com o PRAE do seu curso, através do <a href="http://www.utfpr.edu.br/estrutura-universitaria/pro-reitorias/prograd/legislacao/regulamento-de-estagio-licenciaturas">Regulamento do Estágio Curricular Supervisionado dos Cursos de Licenciatura da UTFPR</a>, do <a href="https://estagio.utfpr.edu.br/arquivos/Regulamento.pdf">Regulamento dos Estágios Curriculares Supervisionados dos Cursos de Educação Profissional Técnica de Nível Médio, dos Cursos Superiores de Tecnologia e dos Cursos de Bacharelado da UTFPR</a>, da <a href="http://www.planalto.gov.br/ccivil_03/_ato2007-2010/2008/lei/l11788.htm">Lei do Estágio 11.788</a>, e também pelo <a href="https://estagio.utfpr.edu.br/arquivos/guia-do-aluno.pdf">Guia do Estagiário.</a></p>
    </section>

    <footer class="modal-card-foot">
      
    </footer>
  </div>
</div>

<div class="modal" id="mpe1">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">preciso contratar um agente integrador para intermediar o processo de contratação de um estagiário?</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">Não, mas cabe a empresa decidir se há vantagens em eficiência de seleção na contratação desta categoria de instituição.</p>
    </section>

    <footer class="modal-card-foot">
      
    </footer>
  </div>
</div>

<div class="modal" id="mpe2">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">Como posso divulgar as vagas de estágio?</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">A empresa pode divulgar diretamente no SIE no campo “Oferta de Vagas”, nos murais de divulgação da própria UTFPR, pode também encaminhar via e-mail (depec-sh@utfpr.edu.br) para o , que auxiliará na divulgação na universidade, e por fim, pode contratar um agente integrador que auxiliará não apenas na divulgação, mas também na seleção e formalização do estágio.</p>
    </section>

    <footer class="modal-card-foot">
      
    </footer>
  </div>
</div>

<div class="modal" id="mpe3">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">Quanto tempo posso manter um estagiário?</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">O Art. 11. da Lei de 11.788 de 25/09/08 define que “A duração do estágio, na mesma parte concedente, não poderá exceder 2 (dois) anos, exceto quando se tratar de estagiário portador de deficiência”</p>
    </section>

    <footer class="modal-card-foot">
      
    </footer>
  </div>
</div>

<div class="modal" id="mpe4">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">Preciso remunerar o estagiário? Seguro de vida e auxílio transporte?</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">Em caso de <b>estágio não obrigatório</b> o Art. 12 da Lei de 11.788 de 25/09/08, define que a empresa é obrigada a conceder uma bolsa, auxílio transporte e contratar em favor do estagiário seguro contra acidentes pessoais, cuja apólice seja compatível com valores de mercado. Já em caso de <b>estágio obrigatório</b>, fica facultado a empresa o pagamento de uma bolsa e do auxílio transporte, com o seguro contra acidentes pessoais sendo contratado pela própria UTFPR.</p>
    </section>

    <footer class="modal-card-foot">
      
    </footer>
  </div>
</div>

<div class="modal" id="mpe5">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">O estagiário tem direito a férias?</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">Sim, de acordo com o Art. 13 da Lei de 11.788 de 25/09/08 é assegurado em estágios com duração igual ou superior a um ano, período de recesso de trinta dias, a ser gozado preferencialmente durante suas férias escolares</p>
    </section>

    <footer class="modal-card-foot">
      
    </footer>
  </div>
</div>

<div class="modal" id="mpe6">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">Alterações no termo de estágio</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">Caso venha ocorrer qualquer alteração em relação ao previsto no Plano de estágio, é necessário emitir através do SIE aditivo de estágio, que precisam ser acompanhados de novos planos de estágios.</p>
    </section>

    <footer class="modal-card-foot">
    </footer>
  </div>
</div>

<div class="modal" id="mpe7">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">Encerrando o termo de compromisso previamente</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">
        Para encerrar o <b>Termo de Compromisso de Estágio</b> antes da data prevista basta emitir rescisão de estágio no SIE, imprimir 3 vias assinar e encaminhar para o departamento de estágios.
      </p>
    </section>

    <footer class="modal-card-foot">
    </footer>
  </div>
</div>

<div class="modal" id="mpe8">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header id="header" class="modal-card-head">
      <p class="modal-card-title">Mais informações sobre estágios para acadêmicos da UTFPR</p>
      <button class="delete has-background-danger"></button>
    </header>

    <section class="modal-card-body">
      <p class="text">Diretamente no Departamento de Estágios, pessoalmente, por telefone (45)3268 ou por e-mail depec-sh@utfpr.edu.br, com o Professor Responsável pela Atividade de Estágio (PRAE) do curso, através do <a href="http://www.utfpr.edu.br/estrutura-universitaria/pro-reitorias/prograd/legislacao/regulamento-de-estagio-licenciaturas">Regulamento do Estágio Curricular Supervisionado dos Cursos de Licenciatura da UTFPR</a>, do <a href="https://estagio.utfpr.edu.br/arquivos/Regulamento.pdf">Regulamento dos Estágios Curriculares Supervisionados dos Cursos de Educação Profissional Técnica de Nível Médio</a>, dos Cursos Superiores de Tecnologia e dos Cursos de Bacharelado da UTFPR, da <a href="http://www.planalto.gov.br/ccivil_03/_ato2007-2010/2008/lei/l11788.htm"> Lei do Estágio 11.788</a>.</p>
    </section>

    <footer class="modal-card-foot">
      
    </footer>
  </div>
</div>