<footer class="footer is-primary" id="site-footer">
  <div class="container">
    <div class="columns">
      <div class="column" id="footer-name">
        <strong class="title-medium-inverted">Diretoria de Relações Empresariais e Comunitárias</strong><br> 
        <ul class="gap-small-top">
          <li><a href="https://github.com/utfpr-sh/portal-direc/issues/new">
            <span class="icon"><i class="fas fa-bug fa-fw"></i></span>Encontrou algum bug?</a>
          </li>
          <li><a href="mailto:direc-sh@utpfr.edu.br?body="><span class="icon"><i class="fas fa-envelope fa-fw"></i></span>Fale conosco</a></li>
          <li><a href="https://github.com/utfpr-sh"><span class="icon"><i class="fab fa-github-alt fa-fw"></i></span>Contribua</a></li>
        </ul>
      </div>
      <div class="column has-text-centered" id="footer-address">
        <span class="icon"><i class="fas fa-map-marked-alt fa-2x"></i></span><br>
        Prolongamento da Rua Cerejeira, s/n CEP 85892-000. <br> Telefone Geral +55 (45) 3268-8800
        <figure class="gap-medium-top" id="footer-logo">
          <img src="/assets/img/logos/utfpr_white.png" width="269" height="99">
        </figure>
      </div>
    </div>
  </div>
</footer>