.list {
	padding-top: 1%;
	padding-left: 2%;
	list-style: disc;
}

.box-round {
    border-radius: 3px;
    margin: 5px;
}

.faq-block > p {
	margin-bottom: 3px;
}

#student {
    background: rgb(245, 245, 245);
}

#company {
    background: rgb(245, 245, 245);
}


#faq > div > ul {
	padding-left: 20px;
}

#faq > div > ul > li {
	padding: 1%;
	border: 1px solid rgb(190, 190, 190);
}

#faq > div > ul > li:hover {
	border: 1px solid rgb(90, 90, 90);
}