.card {
	width: 100%;
	height: 230px;
	color: white;
	border-radius: 3px;
	background: rgb(30, 30, 30);

  	-webkit-transition: all .1s linear;
       -moz-transition: all .1s linear;
         -o-transition: all .1s linear;
}

.card:hover {
}

.media-content > .title {
	color: white;
}

.extension-view {
	width: 100%;
	display: flex;
	flex-direction: row;

	overflow-x: scroll; 
	overflow-y: hidden;
}

.extension-view-project {
	margin-left: 7px;
	margin-right: 7px;
}

.centralized-images {
	justify-content: center;
}